main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

/* Posts, MyPosts, CreatePost, Edit Post css styling */
.post__title {
  padding-left: 2em;
  font-weight: bold;
  font-size: larger;  
}

.post__create {
  margin: 2em;
}
