/* this is for the index styling */
main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

/* this is for the Post styling */

/* this is for the Tag styling */

/* this is for the Category styling */

/* this is for the UserProfile styling */
